<app-header titulo="Page _ION-ACCORDION_"></app-header>

  <ion-content>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Primordial</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Terminar la carrera
        </div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Obstaculo</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
        No le entiendo jaj
        </div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Motivacion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          No hay Motivacion XD
        </div>
      </ion-accordion>
    </ion-accordion-group>
    
    </ion-content>