<app-header titulo="ION_CHECKNOX"></app-header>


<ion-content>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label align="center">Themed checkbox</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label align="center">Themed2 checkbox2</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label align="center">Themed3 checkbox3</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="end"></ion-checkbox>
    <ion-label align="center">Themed4 checkbox4</ion-label>
  </ion-item>
</ion-content>
