<app-header titulo="Page _ION-SEARCHBAR_"></app-header>

  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Searchbar Components
        </ion-title>
        <ion-searchbar color="secondary" placeholder="Secondary"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-item>
          ICONS
        </ion-item>
        <ion-item>
          ROUTING
        </ion-item>
        <ion-item>
          RADIO
        </ion-item>
        <ion-item>
          TABS
        </ion-item>
      </ion-list>
    </ion-content>
    
   
    
   
