<app-header titulo="Page _ION-ICONS_"></app-header>

<ion-content>
<ion-icon name="logo-ionic" size="large" color="primary"></ion-icon>
<ion-icon name="heart" style="color: #ff69b4;"></ion-icon>

<ion-icon name="logo-ionic" size="large" color="secondary"></ion-icon>
<ion-icon name="musical-notes" style="color: #34db42; box-shadow: 0 0 5px #34db66;"></ion-icon>

<br>
<ion-icon name="heart" color="danger"></ion-icon>
<ion-icon name="star" color="warning"></ion-icon>
<ion-icon name="close" color="success"></ion-icon>
<ion-icon name="arrow-down" color="primary"></ion-icon>

<span class="icon-background" style="background-color: #2ecc71;">
  <ion-icon name="location"></ion-icon>
</span>

<span class="icon-background" style="background: linear-gradient(to bottom, #f39c12, #f1c40f);">
  <ion-icon name="sunny"></ion-icon>
</span>

<span class="icon-background" style="background-color: #2ec7cc;">
  <ion-icon name="location"></ion-icon>
</span>
<ion-icon slot="end" name="star"></ion-icon>





 
</ion-content>