<app-header titulo="Page _ION-RADIO_"></app-header>

  <ion-content>
    <ion-title>¿Profe me va reprobar?</ion-title>
    <ion-radio-group>
      <ion-item>
        <ion-label>Si</ion-label>
        <ion-radio value="si"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio value="no"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Puede ser</ion-label>
        <ion-radio value="puede ser"></ion-radio>
      </ion-item>
    </ion-radio-group>
  <ion-button type="submit" expand="block">Enviar</ion-button>
    
    </ion-content>
  