<app-header titulo="PAGE BREADCRUMB"></app-header>

<ion-content align="center">
  <ion-label>Icons at Start</ion-label>
<ion-breadcrumbs>
  <ion-breadcrumb href="#home">
    <ion-icon slot="start" name="home"></ion-icon>
    Home
  </ion-breadcrumb>
  <ion-breadcrumb href="">
    <ion-icon slot="start" name="flash"></ion-icon>
    Electronics
  </ion-breadcrumb>
  <ion-breadcrumb href="/breadcrumb">
    <ion-icon slot="start" name="camera"></ion-icon>
    Cameras
  </ion-breadcrumb>
  <ion-breadcrumb href="/breadcrumb">
    <ion-icon slot="start" name="film"></ion-icon>
    Film
  </ion-breadcrumb>
</ion-breadcrumbs>

</ion-content>
